* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
   
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

#result, #circleResult, #heronResult, #rectangleResult, #parallelogramResult, #trapeziumResult {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

